.title-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 12px;
}
.icon-back {
  position: absolute;
  font-size: 30px;
  top: -6px;
  left: 3px;
  color: var(--color2);
  z-index: 2;
}
