label {
  position: relative;
}
.title-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding-bottom: 12px;
}
.icon-back {
  position: absolute;
  font-size: 30px;
  top: -2px;
  color: var(--color2);
}
:host{
  .avatar-custom-icon {
    position: absolute;
    bottom: 32px;
    right: 0px;
    color: var(--color1);
    background: var(--color2);
    border-radius: 50%;
    padding: 4px;
  }
  nz-progress {
    position: absolute;
    right: 101px;
    top: -6px;
  }
}

.personal-image {
  text-align: center;
  position: relative;
}
.personal-image input[type="file"] {
  display: none;
}
.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
}
.personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid var(--color2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}
.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}
.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}
.personal-figcaption > img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}
