  <div class="pet-land-container">
    <div class="main-menu">
      <div>
        <div class="menu-child">
          <ion-icon name="search-outline"></ion-icon>
        </div>
        <div class="menu-child active">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="menu-child">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <div class="menu-child">
          <ion-icon name="notifications-outline"></ion-icon>
        </div>
      </div>
    </div>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </div>
